<section class="image-text left container">
  <div class="text-content">
      <h2 class="desktop">Design and build
your dream 
home gym…</h2>
  </div>
  <div class="image-content">
          <h2 class="mobile">Design and build
your dream 
home gym…</h2>
  	<img src="{{section.settings.image | img_url : "master"}}" alt="VitalGym">
  </div>
</section>
{% schema %}
  {
    "name": "Image Text Left",
    "settings": [
    {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
