<section class="banner-home container">
  <div class="left-text">
    <h1>create <br>the home Gym<br> of your dreams</h1>
    <a href="#contact" class="btn button">ENQUIRE NOW</a>
  </div>
  <div class="right-text ">
    <p>VitalGym has partnered with one of the UK’s leading garden room companies to provide you with the home gym of your dreams. With experience installing over 13,000 bespoke spaces for the home,  a 5-star rating on Trustpilot, and a free perk worth up to £1000 - you can have absolute confidence that you’ll get the best gym for your needs.</p>
  </div>
</section>
{% schema %}
  {
    "name": "Banner Home Custom",
    "settings": [],
	 "presets": [
      {
        "name": "Banner Home Custom",
        "category": "Content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
