<section class="buy-now container">
  <div class="left-text">
    <h1>Buy Now,  <br>
Pay later </h1>
  </div>
  <div class="right-text">
    <p>Spread out the cost of your home gym over 3 to 10 years in monthly installments. Explore our different payment options to figure out the perfect plan for you!</p>
  </div>
  <div class="bottom-text">
    <div class="pay-later">
      <div class="pay-content">
        <h3>Up to</h3>
        <h1>10 YEARS</h1>
        <span>Loan Period</span>
      </div>
        <div class="pay-content">
        <h3>As little as</h3>
        <h1>20%</h1>
        <span>Deposit</span>
      </div>
        <div class="pay-content">
        <h3>Maximum of</h3>
        <h1>£75K</h1>
        <span>Building cost</span>
      </div>
    </div>
    <a href="#contact" class="button btn">ENQUIRE NOW</a>
  </div>
</section>
{% schema %}
  {
    "name": "Buy Now",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
