<section class="service container">
  <ul class="services-list">
    <li class="service-list">
      <img src="{{ 'consultation.svg' | asset_url}}" alt="VitalGym">
      <h2>Free Consultation</h2>
      <p>All home gyms come with a 10-year structural guarantee for your complete peace of mind.</p>
    </li>
       <li class="service-list">
      <img src="{{ 'draw.svg' | asset_url}}" alt="VitalGym">
      <h2>Free Drawings  & Delivery</h2>
      <p>Prices include professional plans, and delivery is free within 100 miles of the factory.</p>
    </li>
       <li class="service-list">
      <img src="{{ 'obligation.svg' | asset_url}}" alt="VitalGym">
      <h2>No Obligation Quote</h2>
      <p>We use premium industry-leading materials and each gym comes fully-insulated for all year-round use.
</p>
    </li>
    
  </ul>
</section>
{% schema %}
  {
    "name": "Service List",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
